body{
  background: #E5E5E5;

  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.section{
  display: flex; 
  align-items: baseline;
  padding: 0;
}

.menu{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 358px;
  min-height: 96px;

  background: #CCCCCC;
  border: 1px solid #000000;  
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  }

.menu_item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px; 
  height: 36px;
  max-height: 36px;
}

.menu_item:hover {
  background: #9C9C9C;
  cursor: pointer;
  border-radius: 3px;
}

.menu_link{  
  text-decoration: none;
  color: #000000;
  max-width: 300px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 20px;
}

.block{
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  position: relative;
  width: 98px;
  height: 36px;

  background: #FFFFFF;
}